name = "nextdns-manager"
main = "worker/index.ts"
compatibility_date = "2025-11-18"

[build]
command = "npm run build:static"

[assets]
directory = "./out"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1